#form{
    background: linear-gradient(to bottom, rgba(0,0,0, .0),rgba(0,100,0,.1),rgba(00,0,10,.2)), #ea1051;
    background-attachment: fixed;
    overflow:auto;
    position: static;
    top: 0;
    left: 0;
    padding: .1px;
}
a li{
    color: white;
}
header{
    margin: 0;
    position: fixed;
    width: 100%;
    height: 65px;
    background: rgba(0,0,0);
    color: white;
    z-index: 9;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
#pic{
    
    background: url("friends5.png");
    background-size: 200px;
    height: 300px;
    background-repeat: no-repeat;
    background-position:  center 20px;
}
#content1{
    MIN-height: calc(100vh - 65px);
    margin: 0;
}

#content2{
    height: calc(100vh - 65px);
    background: black;
    color: white;
    margin: 0;
    text-align: center;
}

#current{
    border-top: 6px solid White;
    padding-top: 9px;
}
#scroll{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
    font-style: italic;
    color: white;
    font-size: 20px;
     opacity: .5;
}
header h1{
    height: 65px;
    box-sizing: border-box;
    padding: 13px;
    margin: 0;
    font-size: 30px;
    display: inline-block;
    margin-left: 25px;
    font-weight: bold;
}

nav{
    display: inline-block;
    height: 65px;
    margin: 0;
    float: right;
    margin-right: 30px;
    
}

ul{
    height: 65px;
    margin: 0;
    
}

li{
    box-sizing: border-box;
    display: inline-block;
    height: 65px;
    padding: 15px;
    float: left;
    
    font-size: 14;
}
li:hover{
     background: rgba(0,0,0,.2);
   
}
.jumbotro{
    height: 99.5vh;
    margin: 0;
    background: linear-gradient(to bottom, rgba(0,0,0, .0),rgba(0,100,0,.1),rgba(00,0,10,.2)), #ea1051;
    background-attachment: fixed;
}

.jumbotro #vibe{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 150;
    font-family: 'Knewave', cursive;
    color: #eee;
    font-size: 120px;
    text-shadow: 2px 3px rgba(0,0,0,.3);
}

#viibr{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-0%,-100%);
    opacity: 1;
    font-size: 110px;
    
}


.jumbotro #par{
    position: fixed;
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
    top: 310;
    font-size:46px;
    color: #eee;
    opacity: .9;
    text-shadow: 1px 1px rgba(0,0,0,.2);
    font-family: 'Seaweed Script', cursive;
}

p{
    margin: 0 auto;
}

.dope{
    box-sizing: border-box;
    height: 200px;
    padding: 0px 20px;
    margin-top: 100px;
}

.dope h2{
    font-weight: bold;
    margin-top: 0;
}

.dope p{
    min-height: 100%;
    padding-top: 20px;
    padding-right: 20px;
    line-height: 29px;
    font-size: 16px;
    font-family:serif; 
}

.hope{
    box-sizing: border-box;
    height: 200px;
    padding: 100px 20px;
}
.hope h2{
    font-weight: bold;
    margin-top: 0;
}

.hope p{
    min-height: 100%;
    padding-top: 40px;
    line-height: 35px;
    font-size: 16px;
}

#b1,#b2{
    display: inline-block;
    position: absolute;
    bottom: 200px;
    font-size: 20;
    box-sizing: border-box;
    width: 100px;
    height: 50px;
    padding: 10px;
    border-radius: 3px;
    border: 1.9px solid rgba(255,255,255,.7);
    color: white;
    background: rgba(0,0,0,.2);
}

#b1:hover,#b2:hover{
    background: rgba(0,0,0,.4);
}

#b1{
    left: 50%;
    transform: translateX(-120%);
}
#b2{
    left: 50%;
    transform: translateX(20%);
}

#nsd{
    margin-top: 120px;
    height: 500px;
    background: rgba(0,0,0,.3);
}

#form header{
    background: #ea1051;
}
::-webkit-scrollbar { 
    display: none; 
} 
#form_content{
    width: 600px;
    height: 600px;
    color: white;
    margin: auto;
    background: rgba(0,0,0,.3);
    margin-top: 100px;
    margin-bottom: 100px;
    padding:30px;
    position: relative;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,.2);
}

.formItems{
    display: inline-block;
    width: 500px;
    margin-bottom: 15px;
}

.formItems input[type=text], input[type=password],input[type=email]{
    width: 500px;
    height: 20px;
    margin-top: 3px;
}

#first, #last{
    width: 240px;
    height: 20px;
    margin: 0;
    margin-top: 3px;
}
.nameItems{
    display: inline-block;
    width: 240px;
    margin-bottom: 15px;
    margin-right: 15px;
}

form{
    width:500px;
    float: left;
    
    
    
}
fieldset{
    border: none;
    border-left: 1px solid lightgray;
    padding: 10px 0px; 
    
}

#formAlign{
    padding-top: 60px;
    padding-left: 15px;
    width: 530px;
    margin: auto;
    height: 470px;
}

.formT{
    margin: 0;
    text-align: left;
    color: white;
    background: rgba(0,0,0,.9);
    padding: 4px;
    padding-bottom: 7px;
    padding-left: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    font-family: 'Knewave', cursive;
    border-bottom: 3px solid white;
}

#form h5{
    text-align: right;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-right: 155px;
    display: none;
}

form input[type = button]{
    padding: 5px 10px;
    font-size: 15px;
}
#formPic{
    display:inline-block;
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 10px 100px;
    background: url(images/friends5.png);
    background-size: cover;
    background-position: center;
}
