header{
    margin: 0;
    position: fixed;
    width: 100%;
    height: 65px;
    background: rgba(0,0,0);
    color: white;
    z-index: 9;
    
}

#content1{
    MIN-height: calc(100vh - 65px);
    margin: 0;
}

#content2{
    height: calc(100vh - 65px);
    background: black;
    color: white;
    margin: 0;
    text-align: center;
}

#current{
    border-top: 6px solid White;
    padding-top: 9px;
}
#scroll{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
    font-style: italic;
    color: white;
    font-size: 20px;
     opacity: .5;
}
header h1{
    height: 65px;
    box-sizing: border-box;
    padding: 13px;
    margin: 0;
    font-size: 30px;
    display: inline-block;
    margin-left: 25px;
    font-weight: bold;
}

nav{
    display: inline-block;
    height: 65px;
    margin: 0;
    float: right;
    margin-right: 30px;
    
}

ul{
    height: 65px;
    margin: 0;
    
}

li{
    box-sizing: border-box;
    display: inline-block;
    height: 65px;
    padding: 15px;
    float: left;
    
    font-size: 14;
}
li:hover{
    background: #ea1051;
   
}
.jumbotro{
    height: 92vh;
    margin: 0;
    background: linear-gradient(to bottom, rgba(0,0,0, .0),rgba(0,100,0,.1),rgba(00,0,10,.2)), #ea1051;
    background-attachment: fixed;
}

.jumbotro #vibe{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 200;
    font-family: 'Knewave', cursive;
    color: #eee;
    font-size: 120px;
    text-shadow: 2px 3px rgba(0,0,0,.3);
}


.jumbotro #par{
    position: fixed;
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
    top: 380;
    font-size:46px;
    color: #eee;
    opacity: .9;
    text-shadow: 1px 1px rgba(0,0,0,.2);
    font-family: 'Seaweed Script', cursive;
}

p{
    margin: 0 auto;
}

.dope{
    box-sizing: border-box;
    height: 200px;
    padding: 0px 20px;
    margin-top: 100px;
}

.dope h2{
    font-weight: bold;
    margin-top: 0;
}

.dope p{
    min-height: 100%;
    padding-top: 40px;
    line-height: 35px;
    font-size: 16px;
}

.hope{
    box-sizing: border-box;
    height: 200px;
    padding: 100px 20px;
}
.hope h2{
    font-weight: bold;
    margin-top: 0;
}

.hope p{
    min-height: 100%;
    padding-top: 40px;
    line-height: 35px;
    font-size: 16px;
}
